
/* #bottom */

#bottom{
    padding:72px 0 42px;
    background-color: #fafafa;
}


#bottom>aside{
    width: 1170px;
    margin: 0 auto 64px;
    display: flex;
    flex-wrap: wrap;
}

#bottom>aside>dl{
    width: 25%;
    /* font-size: 9px; */
}


#bottom>aside>dl>dt{
font-size: 12px;
color: #3d3d3d;
margin-bottom: 30px;
letter-spacing: 3px;
font-weight: bold;
}


#bottom>aside>dl>dt>span{
    padding-bottom: 10px;
    border-bottom: 1px solid #3d3d3d;
}

#bottom>aside>dl>dd{
    font-size: 12px;
    color: #aaa;
    line-height: 25px;
}

#bottom>aside>dl>dd>a{
    color: #aaa;
}

aside>dl>dd>address{
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 30px;
    padding-right:50px;
    font-style: normal;
    color: #3d3d3d;
    letter-spacing: 1.5px;
}


#bottom>footer{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#bottom>footer>ul{
    display: flex;
    }
    

    #bottom>footer>ul>li{
        margin: 0 10px;
    }
    
#bottom>footer>small{
    font-size: 12px;
    color: #aaa;
}









