@use './variable.scss' as *;
@import './mixin.scss'; 
@import './common.scss';



// header

header{
    padding:70px 0 25px;
    background-color: $back;
    position: relative;

    div.bottom{
        width: $content;
        @include width($bottom:0);
    h1{
        text-align: center;
        margin-bottom: 35px;    
    }
}



    div.top{
        position: absolute;
        left: 0;
        top: 0;
        width:$full;
        border-bottom: 1px solid $sub;
    p{
        width: $content;
        @include width($bottom:0);

        a{
            font-size: $size-small;
            color: $sub;
            line-height:$source*4;
        
        }
      }
    }
}


nav{
    // display: flex;
    // justify-content: center;

    @include layout($between:center);
    ul{
        // display: flex;
@include layout($between:flex-start);
        li{
            margin:0 25px;
            padding-bottom: $source;
            position: relative;

            &:hover{
                span{
                    background-color: $main;
                }
            }
            span{
                display: block;
                width: $full;
                height: 1px;
                background-color: transparent;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            a{
                font-size:$size-normal;
                color: $main;
            }
        }
    }


    .button{
        i{
            color:$main;
            font-size: $source;
        
        }
    }
}